.fm-row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block
}

.fm-row:after,
.fm-row:before {
    content: "";
    display: table
}

.fm-row:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0
}

.fm-row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.fm-row-flex:after,
.fm-row-flex:before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.fm-row-flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.fm-row-flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.fm-row-flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.fm-row-flex-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.fm-row-flex-space-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.fm-row-flex-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.fm-row-flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.fm-row-flex-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}