@base-font: 24;
@width: 280rem / @base-font;
@avatar: 40rem / @base-font;

.line-hidden() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-contain {
  flex: 1;
  background-color: #ffffff;
  width: @width;
  height: @width;
  // min-height: @width;
  border: 1px solid transparent;
  align-items: center;
  position: relative;
  overflow: hidden;
  &:hover {
    .bottom {
      .sub {
        .subscibe-content {
          border: none;
          height:40px;
          line-height:40px;
          padding: 0;
          color:rgba(255,255,255,1);
          background: @default-color;
          border-radius:21px;
          transform: translateY(-20px);
          &:hover {
            background: @hover-default-color;
          }
        }
      }
    }
    .in-strategy {
      display: none;
    }
    .strategy-content {
      display: block;
      opacity: 1;
    }
  }
  .user {
    margin-top: 30rem / @base-font;
    text-align: center;
    .avatar-con {
      display: flex;
      justify-content: center;
      margin-bottom: 8rem / @base-font;
      .avatar {
        width: @avatar;
        height: @avatar;
        border-radius: @avatar / 2;
        > img {
          max-width: 100%;
          max-height: 100%;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
    .user-name {
      color: #333333;
      font-size: 16rem / @base-font;
      .broker {
        color: #999999;
        font-size: 12rem / @base-font;
      }
      .name-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .name-active {
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 75%;
        display: inline-block;
        margin-right: 4px;
        &:hover {
          color: @default-color;
        }
      }
    }
  }
  .strategy-content {
    display: none;
    opacity: 0;
    text-align: center;
    transition: all .3s ease-in-out;
    .strategy-content-container {
      height: 80px;
      line-height:18px;
      padding: 5% 10%;
      display: -webkit-box;
      
      display: flex;
      align-items: center;
      justify-content: center;
      .strategy-detail {
        -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
        font-size:14px;
        font-family:MicrosoftYaHei;
        color:rgba(102,102,102,1);
        text-align: left;
        word-break: break-all;
        height: 100%;
      }
    }
  }
  .price {
    width: 100%;
    padding: 30px 0;
    .price-line {
      display: flex;
      flex-direction: row;
      div {
        flex: 1;
        text-align: center;
      }
    }
    .num-val {
      font-size: 24rem / @base-font;
      color: #333333;
      .need-green {
        color: #1FBB95;
      }
      .num-same {
        // max-width: 50%;
        font-weight: 600;
        .line-hidden();
      }
    }
    .desc {
      font-size: 12px;
      color: #999999;
    }
  }
  .sub {
    text-align: center;
    color: #FF6200;
    font-size: 1rem;
    width: 100%;
    position: absolute;
    bottom: 5px;
    .subscibe-content {
      cursor: pointer;
      transition: transform .3s ease-in-out;
      padding: 15px;
      width: 80%;
      margin: 0 auto;
      border-top: 1px solid #F0F0F0;
      font-size:14px;
    }
  }
  &:hover {
    // box-shadow:0px 0px 30px 0px rgba(0,0,0,0.1);
    box-shadow:0px 15px 20px 0px rgba(0,0,0,0.1);
  }
}

@media screen and (max-width: 880px) {
  @base-font: 20;
  @width: 255rem /@base-font;
  @avatar: 40rem /@base-font;
  .card-contain {
    flex: 1;
    background-color: #ffffff;
    width: @width;
    // min-height: @width;
    height: auto;
    // border: 1px solid red;
    align-items: center;
    padding-bottom: 10px;
    .user {
      margin-top: 10px;
      text-align: center;
      display: flex;
      padding: 5px;
      .avatar-con {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        margin-right: 8px;
        .avatar {
          width: @avatar;
          height: @avatar;
          border-radius: @avatar / 2;
          >img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
      .user-name {
        color: #333333;
        font-size: 16rem / @base-font;
        text-align: left;
        .broker {
          color: #999999;
          font-size: 12rem / @base-font;
        }
      }
    }
    .bottom {
      display: flex;
      .price {
        width: 100%;
        padding: 5rem / @base-font;
        display: block ;
        .price-line {
          display: flex;
          flex-direction: row;
          div {
            flex: 1;
            text-align: center;
          }
        }
        .num-val {
          font-size: 16rem / @base-font;
          color: #333333;
          .num-percent {
            color: #1FBB95;
            // max-width: 50%;
          }
        }
        .desc {
          font-size: 12rem / @base-font;
          color: #999999;
        }
      }
      .sub {
        text-align: center;
        color: #FF6200;
        font-size: 12rem / @base-font;
        width: 100%;
        display: flex;
        align-items: center;
        position: unset;
        .subscibe-content {
          padding: 10px;
          width: 80%;
          margin: 0 auto;
          border: 1px solid #FF6200;
          border-radius: 14rem;
          transform: none !important;
        }
      }
    }
  }
}


.grade-score-icon {
  display: inline-block;
  width:20px;
  height:14px;
  font-size:12px;
  font-family:DINOT-Bold;
  font-weight:bold;
  color:rgba(255,255,255,1);
  line-height:14px;
  border-radius: 6px  2px  6px  2px;
  text-align: center;
  margin-left: 4px;
}
.grade-score-1 {
  background: linear-gradient(to bottom, #8A8D91, #272829);
}
.grade-score-2 {
  background: linear-gradient(to bottom, #F2D6A2, #BFA36F);
}
.grade-score-3 {
  background: linear-gradient(to bottom, #F2D6A2, #BFA36F);
}
.grade-score-4 {
  background: linear-gradient(to bottom, #F2D6A2, #BFA36F);
}
.grade-score-5 {
  background: linear-gradient(to bottom, #DADCE0, #A3A5A8);
}
// c
.grade-score-6 {
  background: linear-gradient(to bottom, #E2E2E2, #C5C7CA);
}
.grade-score-7 {
  background: linear-gradient(to bottom, #E2E2E2, #C5C7CA);
}